.head {
	height: 250px;
	position:relative;
}	
DIV .scale {transition: 0s;}
.scale:hover {transform: scale(1.5);}


.hover-image-scale {
    display: inline-block;
    overflow: hidden;
}

.hover-image-scale img {
    transition: 1s;
    display: block;
}

.hover-image-scale img:hover {
    transform: scale(1.5);
}             

.title-style {font-size: 25px;}

.Стайки {position: relative;
         top: 71px;
         left: 961px;} 
    
.Laguna {position: relative;
        top: 62px;
        left: 129px;}