*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Jost', sans-serif;
    }

    .body{
        overflow-x: hidden;
    }

    .clearfix{
        clear: both;
    }

    /*head_top*/

.container{
    width: 1110px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    
}    

.head_top ul{
    margin-top: 11px;
    margin-bottom: 11px;
    padding: 0;
}

.head_top ul li{
    display: inline;
    margin-right: 30px;
    font-weight: 400;
    font-size: 12px;
    line-height: 17px;
    color: #5D6C7B;
    text-decoration: none;
}

.head_top ul li a{
    text-decoration: none;
    color: #5D6C7B;
}

.line{
    border: 1px solid #ECF3FF;
    width: 100%;
    position: absolute;
    left: 0;
}

/*head_top2*/

.head_top2{
    display: flex;
}

.head_top2 h1{
    margin-right: 35px;
    font-weight: 700;
font-size: 30px;
line-height: 43px;
text-transform: uppercase;
color: #282739;
margin-top: 27px;

}

.head_top2 a{
    font-weight: 500;
font-size: 16px;
line-height: 23px;
background: #6F73EE;
border: 1.5px solid #6F73EE;
border-radius: 5px;
color: #FFFFFF;
width: 114px;
    height: 40px;
    margin-top: 28px;
    text-decoration: none;
    text-align: center;
}

.head_top2 p{
    margin-top: 7px;
}

.d1{
    height: 69px;
}

.d1 input {
  width: 603px;
  height: 40px;
  padding-left: 10px;
  border: 1.5px solid #6F73EE;
border-radius: 5px;
  outline: none;
  color: #9E9C9C;
  margin-top: 28px;
    margin-left: 20px;
    text-align: center;
}
.d1 button {
  position: absolute; 
  top: 28px;
    right: -322px;
  width: 40px;
    height: 40px;
  border: 1.5px solid #6F73EE;
  background-color: #6F73EE;
 border-radius: 5px;
  cursor: pointer;
}
.d1 button:before {
  content: url(kugoo_img/ыуфкср.png);
  font-weight: 400;
font-size: 14px;
line-height: 20px;
color: #5D6C7B;
}

.d1 form{
        position: relative;
        width: 300px;
        margin: 0 auto;
      }

.d1 select{
    position: absolute;
    left: 21px;
    top: 29px;
    width: 76px;
    height: 37px;
    background: #F4F7FB;
    border-radius: 5px;
    border: none;
}      



.head_top2 ul{
    margin-left: 340px;
    list-style-type: none;
    display: flex;
    margin-top: 34px;
}

.head_top2 ul li{
    margin-right: 26px;
}

/*info*/

.info{
    height: 40px;
    background: #F4F7FB;
    width: 100%;
    margin-top: 30px;
}

.info ul{
    padding: 7px;
}

.info ul li{
    display: inline;
    margin-right: 50px;
   
}

.info a{
    text-decoration: none;
    font-weight: 500;
font-size: 14px;
line-height: 20px;
color: #282739;
}

.info ul :nth-child(3){
    width: 236px;
    height: 34px;
    background: #6F73EE;
    border-radius: 300px;
    color: white;
    font-weight: 400;
    font-size: 10px;
    margin-left: -49px;
}

.info img{
    margin-left: -47px;
    position: absolute;
}

/*banner2*/

.banner1{
    position: relative;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 1380px;
height: 200px;
background: linear-gradient(88.23deg, #6F73EE 24.95%, rgba(111, 115, 238, 0) 59.45%);
border-radius: 10px;
margin-top: 30px;
}

.banner1 img{
    margin-left: auto;
    z-index: -1;
    border-radius: 5px;
}

.banner1 p{
    position: absolute;
    left: 141px;
    position: absolute;
    top: 74px;
    color: white;
    font-weight: 600;
    font-size: 35px;
    line-height: 51px;
}


.banner2{
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    width: 1380px;
height: 421px;
background: radial-gradient(76.7% 707.77% at 23.3% 72.57%, #595959 0%, #3B3E46 100%) ;
border-radius: 10px;
}

.banner2 img{
    float: left;
}

.banner2 ul{
    float: right;
    list-style-type: none;
    margin-top: 67px;
    margin-right: 182px;
}

.banner2 ul :first-child{
    width: 62px;
height: 27px;
background: #EE685F;
border: 1px solid #EE685F;
border-radius: 5px;
text-align: center;
color: #FFFFFF;
}

.banner2 ul :nth-child(2){
    font-weight: 600;
    font-size: 35px;
    line-height: 51px;
    color: white;
    margin-bottom: 27px;
    margin-top: 31px;
} 

.banner2 a{
    background: white;
    border-radius: 5px;
    color: black;
    text-decoration: none;
    padding: 12px;}

    /*filtr*/

    .container h2{
        margin-top: 40px;
    float: left;
    font-weight: 600;
font-size: 25px;
line-height: 36px;
    }

.parts{
    margin-bottom: 25px;
}

.selects{
    float: right;
    margin-top: 40px;
    
}

.selects select{
    width: 111px;
    height: 37px;
    border: 1.3px solid #6F73EE;
    border-radius: 5px;
    color: #6F73EE;
    text-align: center;
}

.selects p{
    float: left;
    font-weight: 500;
font-size: 14px;
line-height: 20px;
margin-top: 6px;
    margin-right: 10px;
}

.samokat{
    display: grid;
    grid-template-columns: 255px 255px 255px;
    grid-template-rows: 492px 492px 492px 492px;
    border-radius: 10px;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
}

.opisanie{
    padding: 20px; 
}

.hit{
    width: 41px;
    height: 25px;
    background: #EE685F;
    border-radius: 5px;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 12px;
    line-height: 17px;
    text-align: center;
    padding: 3px;
    position: absolute;
    top: 0px;
}

.podrobno{
    border: none;
    position: relative;
}

.podrobno img{
    width: 253px;
    border-radius: 10px;
}

.opisanie h3{
    margin-bottom: 25px;
}

.ves{
    border: 1.5px solid #eaebed;
    border-radius: 10px;
}

.filtr{
    width: 255px;
height: 633px;
background: #F4F7FB;
border-radius: 10px;
margin-right: 30px;
padding: 19px;
}

.filtr-parts{
    display: flex;
    margin-top: 30px;
}

.filtr h3{
    margin-top: 12px;
    margin-bottom: 12px;
}

.filtr input{
}

.manth-part1{
    width: 255px;
height: 149px;
background: radial-gradient(102.16% 238.93% at -2.16% 100%, #FFCF71 0%, #F3A712 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
border-radius: 10px;
margin-top: 110px;
    margin-left: -19px;
}

.manth-part1 h3{
    color: white;
    padding-left: 16px;
    padding-top: 10px;
}

.manth-part2
{
    width: 255px;
height: 90px;
background: radial-gradient(71.16% 199.4% at 82.43% 76.38%, #8FE865 0%, #49AC1B 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
border-radius: 10px;
margin-top: 30px;
    margin-left: -19px;
}

.miniline{
    opacity: 0.2;
border: 1px solid #FFFFFF;
margin-bottom: 20px;
}

.manth-part1 img{
    width: 68px;
    height: 51px;
    margin-left: 16px;
    border-radius: 5px;
}

.minibox{
    display: flex;
}

.manth-part2{
    display: flex;
}

 /*footer*/

 .info2 {
    background: #6F73EE;
    height: 97px;
    margin-top: 73px;
}

.pre-footer {
    font-weight: 600;
    font-size: 18px;
    line-height: 26px;
    color: white;
    float: left;
    width: 100%;}

    .pre-footer-left {
        display: flex;}

        

            .info3 {
                background: #F4F7FB;
                height: 360px;}

                .info2 ul {
                    float: left;
                    list-style-type: none;
                    margin-right: 80px;
                    margin-top: 39px;
                    margin-bottom: 42px;}

                    .line {
                        border: 1px solid #5D6C7B;
                        opacity: 0.15;
                        width: 100%;
                        position: absolute;
                        left: 0;}    
                        
                        .footer-bottom {
                            margin-top: 36px;
                            margin-bottom: 36px;
                            display: flex;}

                            .footer a {
                                text-decoration: none;
                                color: #5D6C7B;}

                                .info2 ul :last-child {
                                    font-weight: 400;
                                    font-size: 16px;
                                    line-height: 23px;}

/*media*/

@media all and (max-width: 1380px){
    .container{
        width: 1024px;
    }
    .banner1{
        width: 1024px;
    }
    .banner2{
        width: 1024px;
    }
    .banner2 img{
        width: 490px;
        margin-top: 83px;
    }
    .d1 input{
        width: 498px;
    }
    .d1 button{
        right: -217px;
    }
    .head_top2 ul{
        margin-left: 284px;
    }
    .parts{
        overflow-x: scroll;
    }
}

@media all and (max-width: 1020px){
    .info2{
        width: 1028px;
    }
    .info3{
        width: 1028px;
    }
    .info{
        width: 1028px;
    }
    .line{
        width: 1028px;
    }
}