.container{
    width: 1370px;
    margin: 0 auto
}

.head{
    height: 100px;
    background-color: aqua;
    text-align: center;
}

.body2{
    display: flex;
}

.left{
    width: 400px;
    background-color: blueviolet;
    
}

.left h2{
    margin-left: 20px;
}

.right{
    width: 70%;
}

.footbal{
    text-align: center;
    
}

.right img{
    float: left;
    margin: 10px;
    
}

.right p{
    margin-left: 10px;
    
}

.footer{
    height: 100px;
    background-color: aqua;
    text-align: center;
}

.footer h2{
    margin-top: 0px;
}

@media all and (max-width:1000px){
    
    .container{
        display: flex;
        flex-direction: column;
        width: 320px;
    }
    .head{
        display: none;
    }
    .footer{
        display: none;
    }
    .left{
        background: transparent;
        width: 320px;
        order: 2;
    }

    .body2{
        display: contents;
    }

    .right img{
        width: 320px;
    }

    .right{
       width:  320px;
       
    }

    .left ul li{
        display: inline;
        
    }

    .left ul{
        padding: 9px;
        width: 100%;
    }

    .left h2 {
        margin-left: 10px;

}
}