.layer :nth-child(3):hover{
    fill: blue;
}

.layer :nth-child(4):hover{
    fill: blue;
}

.layer :nth-child(3):hover{
    fill: blue;
}

.layer :nth-child(3):hover{
    fill: blue;
}

.layer :nth-child(7):hover{
    fill: blue;
    height: 200px;
}

.layer :nth-child(8):hover{
    fill: rgb(0, 255, 115);
    height: 200px;
    stroke-width: 10
}

.layer :nth-child(1):hover{
    stroke-width: 10;
    fill: rgb(69, 23, 155)
}

.layer :nth-child(2):hover{
    stroke-width: 20;
    fill: rgb(69, 23, 155)
}

